In [4]:
import pandas as pd

# DATA WRANGLING - CIRUGIA DE DATOS

al read_csv le agregue un campo sep=";" hay que aclarar el separador porque nativamente el read_cvs toma la coma como separador

In [5]:
data = pd.read_csv("C://Users/20385265035/Desktop/Proyectos de Python/datasets/PCLConComunas.txt",sep=";")

In [6]:
data.head()

,ID_REGISTRO,EXPEDIENTE_PSOC,ANIO_RIB,NUMERO_RIB,NUMERO_DOCUMENTO,CUIL,APELLIDO,NOMBRE,COMUNA,FK_TIPO_DOMICILIO,BARRIO,DESCRIPCION_COMUNA,ID_COMUNA,FK_BARRIO,DESCRIPCION_SIS_BARRIO,DESCRIPCION_CORTA,ID_BARRIO
0,1091700,EX-2022-35077150- -GCABA-DGDCC,2017,27006780,47167378,NaN,PETRENKO,SASHA,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
1,1089273,EX-2022-33351911- -GCABA-DGDCC,2017,27004375,47277029,NaN,COLSO,GASTON ARIEL,Comuna 1,3,San NicolÃ¡s,Comuna 1,3.0,32.0,San NicolÃ¡s,NaN,32.0
2,1434922,EX-2022-36342896- -GCABA-DGDCC,2022,27093433,22125866,2.022126e+10,TARANTINO,ANGEL,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
3,1453226,EX-2022-37612807- -GCABA-DGDCC,2022,37611349,17849160,2.717849e+10,VEGA,SANDRA MIRIAM,Comuna 1,1,Monserrat,NaN,NaN,NaN,NaN,NaN,NaN
4,1454276,EX-2022-38324657- -GCABA-DGDCC,2022,38323456,46758907,2.046759e+10,LUNA,PABLO,Comuna 1,1,Constitucion,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#el nombre de la colummna tiene que ser el exacto

# Crear un subconjunto de datos

In [7]:
id_registro = data[['ID_REGISTRO',"EXPEDIENTE_PSOC"]]

In [9]:
id_registro.head()

   ID_REGISTRO                   EXPEDIENTE_PSOC
0      1091700  EX-2022-35077150-   -GCABA-DGDCC
1      1089273  EX-2022-33351911-   -GCABA-DGDCC
2      1434922  EX-2022-36342896-   -GCABA-DGDCC
3      1453226  EX-2022-37612807-   -GCABA-DGDCC
4      1454276  EX-2022-38324657-   -GCABA-DGDCC

In [10]:
type(id_registro)

pandas.core.frame.DataFrame

In [11]:
subset = data[['EXPEDIENTE_PSOC','ANIO_RIB','NUMERO_DOCUMENTO','NOMBRE']]

In [12]:
subset.head()

                    EXPEDIENTE_PSOC  ANIO_RIB  NUMERO_DOCUMENTO         NOMBRE
0  EX-2022-35077150-   -GCABA-DGDCC      2017          47167378          SASHA
1  EX-2022-33351911-   -GCABA-DGDCC      2017          47277029   GASTON ARIEL
2  EX-2022-36342896-   -GCABA-DGDCC      2022          22125866          ANGEL
3  EX-2022-37612807-   -GCABA-DGDCC      2022          17849160  SANDRA MIRIAM
4  EX-2022-38324657-   -GCABA-DGDCC      2022          46758907          PABLO

Creo una variable  en la que almaceno los valores de las columnas que requiero y creo el subset a partir de esa variable

In [18]:
desired_columns = ['NOMBRE','APELLIDO','COMUNA','BARRIO']
subset = data[desired_columns]
subset.head()

          NOMBRE   APELLIDO    COMUNA        BARRIO
0          SASHA   PETRENKO  Comuna 1  San NicolÃ¡s
1   GASTON ARIEL      COLSO  Comuna 1  San NicolÃ¡s
2          ANGEL  TARANTINO  Comuna 1     Monserrat
3  SANDRA MIRIAM       VEGA  Comuna 1     Monserrat
4          PABLO       LUNA  Comuna 1  Constitucion

In [21]:
all_columns_list = data.columns.values.tolist()
all_columns_list

['ID_REGISTRO',
 'EXPEDIENTE_PSOC',
 'ANIO_RIB',
 'NUMERO_RIB',
 'NUMERO_DOCUMENTO',
 'CUIL',
 'APELLIDO',
 'NOMBRE',
 'COMUNA',
 'FK_TIPO_DOMICILIO',
 'BARRIO',
 'DESCRIPCION_COMUNA',
 'ID_COMUNA',
 'FK_BARRIO',
 'DESCRIPCION_SIS_BARRIO',
 'DESCRIPCION_CORTA',
 'ID_BARRIO']

En desired_columns tengo las columnas deseadas y con el for y el if puedo obtener las columnas que no quiero que esten en el conjunto o las columnas que si quiero que esten depende de lo que se ingrese en desired_columns.

In [22]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['ID_REGISTRO',
 'EXPEDIENTE_PSOC',
 'ANIO_RIB',
 'NUMERO_RIB',
 'NUMERO_DOCUMENTO',
 'CUIL',
 'FK_TIPO_DOMICILIO',
 'DESCRIPCION_COMUNA',
 'ID_COMUNA',
 'FK_BARRIO',
 'DESCRIPCION_SIS_BARRIO',
 'DESCRIPCION_CORTA',
 'ID_BARRIO']

Otra forma de hacer lo mismo

In [24]:
a = set(desired_columns)
b = set(all_columns_list)
sublist = b-a
sublist = list(sublist)
sublist

['DESCRIPCION_CORTA',
 'DESCRIPCION_COMUNA',
 'ID_BARRIO',
 'ANIO_RIB',
 'EXPEDIENTE_PSOC',
 'ID_REGISTRO',
 'CUIL',
 'FK_TIPO_DOMICILIO',
 'DESCRIPCION_SIS_BARRIO',
 'NUMERO_DOCUMENTO',
 'NUMERO_RIB',
 'FK_BARRIO',
 'ID_COMUNA']